@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');



:root {
  --font-head: 'Poppins', sans-serif;
  --font-body: 'Roboto', sans-serif;
  --font-mono: 'suseMono', sans-serif;
  
  --color-blue: #0F1752;
  --color-yellow: #E88412;
  --color-grey: #c9c9c9;
  --color-white: #ffffff;
  --color-black: #000000;
 


}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}